.wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 900;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    will-change: opacity;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
}

.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    pointer-events: none;
    z-index: 900;

    &.contentLeft {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.contentRight {
        align-items: flex-end;
        justify-content: flex-start;
    }
}